.pastlogs{
    /* border:1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(19, 18, 18, .4);
}

.no_pastLogs{
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.pastlog_error{
    /* border:1px solid black; */
}

.past_date{
    margin-left: 10px;
}

.time{
    margin-right: 10px;
}